.homepage-wrapper {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categories-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.category {
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

.category-active,
.category:hover {
  background-color: var(--accent);
}

/* for tab and mobile devices */
@media (width<776px) {
  .categories-wrapper {
    gap: 0.1rem;
    padding: 0.3rem;
  }

  .category {
    padding: 0.1rem 0.2rem;
  }
}
