/* .article-wrapper {
  height: 450px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid red;
  justify-items: center;
  * {
    border: 2px solid green;
  }
}

img {
  width: 20rem;
  height: 12rem;
  object-fit: cover;
} */
