/* .search-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;

  input {
    width: 20rem;
    margin-right: 1rem;
    border-radius: 5px;
  }
} */

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  transition: box-shadow 0.3s ease;
}

.search-wrapper:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.search-wrapper input {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
  transition: width 0.4s ease-in-out;
}

.search-wrapper input:focus {
  width: 300px;
}

.search-wrapper input::placeholder {
  color: #999;
}

.search-wrapper button {
  background-color: var(--accent);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-wrapper button:hover {
  color: var(--primary);
  /* background-color: var(--accent); */
}
