:root {
  --primary: #f5f5f5;
  --accent: #4287f5;
}

body {
  background-color: var(--primary);
}

body,
* {
  font-family: "Inter", sans-serif;
}

button {
  padding: 0.2rem 1.5rem;
  cursor: pointer;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (width<450px) {
  .articles-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
